#to {
    
    position:absolute;
    top:10px;
    left:10px;
    
    background-color:white;
        padding:10px;

}

#from {
    
    position:absolute;
    bottom:10px;
    right:10px;
    background-color:white;
    padding:10px;
}

#postcard {
    position:relative;
    background-image: url('imgs/default.png');
       width:100vw;
    height:90vh;
    background-repeat:no-repeat;
        
}

#message {
    text-align: center;
    padding-top:10px;
    position:absolute;
    width:50vw;
    height:20vh;
    background-color:white;
   
    z-index: 2;
    opacity:1;
 
 top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
}

.miniDiv {
    
    position:relative;
  display:inline-block;
  width:200px;
  height:200px;
  margin-right:10px;
}

.miniName {
  position:absolute;
  padding-top:10px;
  left:5px;
  top:6px;
  width:40%;
  height:15%;
    text-align:center;
  background-color:white;
}



